<section class="topo">

  <h1>Clientes</h1>

  <button type="button" class="botao-principal" (click)="abrirModalCadastro()">
    Novo cliente
  </button>
</section>

<app-filtros [titulo]="'Filtrar clientes'" [campos]="camposFiltro" [valoresIniciais]="filtrosAtuais()"
  [labelConfirmar]="'Aplicar filtros'" [labelCancelar]="'Limpar filtros'" (filtrosChange)="onFiltrosChange($event)">
</app-filtros>

<app-tabela [colunas]="colunasTabela" [linhas]="linhas()" [acaoEditar]="acaoEditarCliente"
  [acaoExcluir]="acaoExcluirCliente" [excluirDesabilitado]="excluirDesabilitado"
  [mensagemSemDados]="mensagemSemDadosTabela()" [carregando]="carregando" mensagemCarregando="Carregando clientes...">
</app-tabela>



<app-modal [aberto]="modalAberto()" [titulo]="modoEdicao() ? 'Editar cliente' : 'Novo cliente'"
  [modoEdicao]="modoEdicao()" [acaoPrimariaLabel]="!modoEdicao() ? 'Cadastrar' : null" (fechar)="fecharModal()"
  (salvar)="salvarCliente()" (cancelar)="fecharModal()">

  <form [formGroup]="formCliente" novalidate>

    <label for="cliente-nome">Nome</label>
    <input id="cliente-nome" type="text" formControlName="nome" maxlength="160" placeholder="Nome completo" />
    @if (formCliente.controls.nome.invalid && (formCliente.controls.nome.touched || formCliente.controls.nome.dirty))
    {
    <small class="erro">Informe um nome válido.</small>
    }

    <label for="cliente-telefone">Telefone</label>
    <input id="cliente-telefone" type="tel" formControlName="telefone" maxlength="20" placeholder="(11) 99999-9999" />

    <label for="cliente-obs">Observações</label>
    <textarea id="cliente-obs" rows="3" formControlName="observacoes" placeholder="Observações opcionais"></textarea>

  </form>
</app-modal>


<app-password-confirm-modal [aberto]="modalExclusaoAberto()" titulo="Confirmar exclusão"
  [mensagem]="'Digite sua senha para excluir o cliente ' + (clientePendenteExclusao()?.nome ?? '') + '.'"
  textoConfirmar="Confirmar exclusão" [salvando]="excluindo()" (cancelar)="fecharModalExclusao()"
  (confirmar)="confirmarExclusaoComSenha($event)">
</app-password-confirm-modal>