<div class="tabela-wrapper">
  <table class="tabela" aria-label="Tabela administrativa">
    <thead>
      <tr>
        @for (coluna of colunas; track coluna.chave) {
        <th scope="col">{{ coluna.titulo }}</th>
        }
        <th scope="col" class="acoes-coluna">Editar</th>
        <th scope="col" class="acoes-coluna">Excluir</th>
      </tr>
    </thead>

    <tbody>
      @if (linhas.length === 0) {
      <tr>
        <td class="sem-dados" [attr.colspan]="colunas.length + 2">
          {{ mensagemSemDados }}
        </td>
      </tr>
      } @else {
      @for (linha of linhas; track rastrearLinha($index, linha)) {
      <tr>

        @for (coluna of colunas; track coluna.chave) {
        <td>
          @let valor = linha[coluna.chave];
          @let linhaId = rastrearLinha($index, linha);

          <!-- IMAGENS -->
          @if (coluna.tipo === 'lista-imagens') {

          @let fotos = getListaImagens(valor);

          @if (fotos.length) {
          <div class="tabela-fotos-wrapper">

            <button class="nav prev" (click)="fotoAnterior(linhaId, fotos.length)">
              ‹
            </button>

            <img [src]="getFotoAtual(linhaId, fotos)" class="tabela-miniatura" alt="Foto" />

            <button class="nav next" (click)="proximaFoto(linhaId, fotos.length)">
              ›
            </button>

          </div>
          } @else {
          <span class="sem-fotos">Sem fotos</span>
          }

          } @else if (coluna.tipo === 'descricao') {

          <button type="button" class="botao acao-ver-descricao" (click)="abrirModalDescricao(linha, coluna)">
            Visualizar
          </button>

          <!-- PADRÃO -->
          } @else {

          {{
          coluna.formatador
          ? coluna.formatador(valor, linha)
          : (valor ?? '-')
          }}

          }

        </td>
        }

        <td>
          <button type="button" class="botao acao-editar" (click)="editar(linha)">
            Editar
          </button>
        </td>

        <td>
          <button type="button" class="botao acao-excluir" [disabled]="excluirDesabilitado(linha)"
            (click)="excluir(linha)">
            Excluir
          </button>
        </td>

      </tr>
      }
      }
    </tbody>
  </table>
</div>

<!-- MODAL DESCRIÇÃO -->
@if (modalDescricaoAberto) {
<div class="modal-overlay" (click)="fecharModalDescricao()">
  <section class="modal-descricao" (click)="$event.stopPropagation()">

    <header>
      <h3>Descrição</h3>
    </header>

    <p>{{ textoDescricaoModal }}</p>

    <footer>
      <button type="button" class="botao acao-editar" (click)="fecharModalDescricao()">
        Fechar
      </button>
    </footer>

  </section>
</div>
}