<footer class="container" aria-label="Contato e acesso administrativo">
  <div class="footer__inner">
    <div class="footer__bloco footer__marca">
      <p>Doces Delícia</p>
    </div>

    <div class="footer__contatos">

      <div class="contato-item">
        <span class="contato-item__label">Whatsapp</span>
        <a class="contato-item__action" href="https://wa.me/5511963101084" target="_blank" rel="noopener noreferrer">
          (11) 96310-1084
        </a>
      </div>

      <div class="contato-item">
        <span class="contato-item__label">Instagram</span>
        <a class="contato-item__action" href="https://instagram.com/doces_delicianopote" target="_blank"
          rel="noreferrer">
          @doces_delicianopote
        </a>
      </div>

      <app-admin-area></app-admin-area>
    </div>
  </div>
</footer>